.container {
  position: absolute;
  left: 100px;
}

/* Find the dimwnsion of my screen and calculate it.  */
.value_bars {
  display: inline-block;
  background-color: green;
  width: 2px;
  margin: 0 5.5px;
}

.generate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* Toolbar */
.slidecontainer {
  width: 20%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 30%;
  background: purple;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 30%;
  background: purple;
  cursor: pointer;
}
